# Domain (without https://)
DOMAIN=trangkhanh.dev.hido.me

# Lightsail Managed Postgres connection string
# Format: postgresql://USER:PASSWORD@ENDPOINT:PORT/DBNAME?schema=public
DATABASE_URL=postgresql://dbmasteruser:CHANGE_ME@ls-xxx.xxx.rds.amazonaws.com:5432/trade_ops?schema=public

# NextAuth
NEXTAUTH_SECRET=CHANGE_ME_RANDOM_32_CHARS
